body, html, #root, .App {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: black; 
  overflow: hidden;
  font-family: sans-serif;
  position: relative;
}

.nebula {
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  height: 200px;
  
  filter: blur(80px); 
  
  transform: translateY(-50%) scale(1.2); 
  
  z-index: 5;
}